<b>Números:</b>
<span *ngFor="let n of numeros"> {{ n }} </span><br />
Inserta número:
<input [(ngModel)]="numeroIntroducido" (keyup.enter)="insertaNumero()" type="text" />

<br /><br />

<b>Frutas:</b>
<span *ngFor="let f of frutas"> {{ f }} </span>
<br />
Inserta fruta:
<input [(ngModel)]="frutaIntroducida" (keyup.enter)="insertaFruta()" type="text" />

<hr>

<p *ngFor="let empleado of listaDeEmpleados">
  <b>{{ empleado.nombre }}</b><br>
  {{ empleado.puesto }}, {{ empleado.salario }} €
</p>

<hr>

<p *ngFor="let f of frutas; index as i">
  Fruta nº {{ i + 1 }}: {{ f }}
</p>

<hr>