.cabecera,
.pie-de-pagina {
  background-color: aquamarine;
  width: 100vw;
  padding-left: 8px;
}

.cabecera {
  position: relative;
  margin-left: -50vw;
  left: 50%;
  top: -20px;
}

.pie-de-pagina {
  position: fixed;
  left: 0;
  bottom: 0;
}
