<h2>Pipes</h2>

{{ frase | uppercase }}<br>
{{ frase | lowercase }}<br>
{{ frase | titlecase }}<br>
{{ precio | currency }}<br>
{{ precio | currency: 'EUR' }}<br>
{{ pi }}<br>
{{ pi | number: '.4' }}<br>
{{ hoy }}<br>
{{ hoy | date }}<br>
{{ hoy | date:'full'}}<br>
{{ hoy | date:'fullDate' | uppercase }}<br>
<!-- Pipe personalizada -->
<b>{{ textoIngles }}</b> en inglés es <b>{{ textoIngles | traduce: 'es' }}</b>
en español y <b>{{ textoIngles | traduce: 'ru' }}</b> en ruso<br>
<b>Hello World!</b> en inglés es <b>{{ "Hello world!" | traduce: 'ru' }}</b> en ruso y
<b>{{ "Hello world!" | traduce: 'es' }}</b> en español.
